<html><head><link id="layuicss-laydate" rel="stylesheet" href="#springUrl('/Public/Front/js/plugins/layui/css/modules/laydate/default/laydate.css?v=5.0.2')" media="all"><link id="layuicss-layer" rel="stylesheet" href="#springUrl('/Public/Front/js/plugins/layui/css/modules/layer/default/layer.css?v=3.0.3')" media="all"><link id="layuicss-skincodecss" rel="stylesheet" href="#springUrl('/Public/Front/js/plugins/layui/css/modules/code.css')" media="all"></head><body class="gray-bg"><div class="bread"><span class="bread-title">您的当前位置 : </span>订单管理 &gt;&gt; 交易管理</div>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>慧富宝支付系统---管理</title>
    <link rel="shortcut icon" href="#springUrl('/favicon.ico')">
    <link href="#springUrl('/Public/Front/css/bootstrap.min.css')" rel="stylesheet">
    <link href="#springUrl('/Public/Front/css/font-awesome.min.css')" rel="stylesheet">
    <link href="#springUrl('/Public/Front/css/animate.css')" rel="stylesheet">
    <link href="#springUrl('/Public/Front/css/style.css')" rel="stylesheet">
    <link href="#springUrl('/Public/Admin/css/style.css')" rel="stylesheet">
    <link rel="stylesheet" href="#springUrl('/Public/Front/js/plugins/layui/css/layui.css')">
    <style>
        .layui-form-label {width:110px;padding:4px}
        .layui-form-item .layui-form-checkbox[lay-skin="primary"]{margin-top:0;}
        .layui-form-switch {width:54px;margin-top:0px;}
    </style>


<div class="wrapper wrapper-content animated">

<div class="row">
  <div class="col-md-12">
    <div class="ibox float-e-margins">
      <!--条件查询-->
      <div class="ibox-title">
        <h5>订单管理</h5>
        <div class="ibox-tools">
          <i class="layui-icon" onclick="location.replace(location.href);" title="刷新" style="cursor:pointer;">ဂ</i>
        </div>
      </div>
      <!--条件查询-->
      <div class="ibox-content">
        <form class="layui-form" action="#springUrl('/user/getTrdOrderList')" method="post" autocomplete="off" id="orderform">
          <input type="hidden" name="m" value="Admin">
          <input type="hidden" name="c" value="Order">
          <input type="hidden" name="a" value="index" id="action">
          <div class="layui-form-item">
            <div class="layui-inline">
              <div class="layui-input-inline">
                <input type="text" name="mchId" autocomplete="off" placeholder="请输入商户号" class="layui-input" #if(${requestInfo.mchId}) value="${requestInfo.mchId}" #else value="" #end>
              </div>

              <div class="layui-input-inline">
                <input type="text" name="orderid" autocomplete="off" placeholder="请输入订单号" class="layui-input" #if(${requestInfo.outTradeNo}) value="${requestInfo.outTradeNo}" #else value="" #end>
              </div>
            </div>
            <div class="layui-inline">
              <div class="layui-input-inline">
                <select name="channelCode">
                  <option value="">全部通道</option>
                  #foreach($channel in $channels)
                      #if(${requestInfo.channelCode} == ${channel.channelCode})
                          <option value=${channel.channelCode} selected>${channel.channelName}-${channel.channelCode}-${channel.codeDesc}</option>
                      #else
                          <option value=${channel.channelCode}>${channel.channelName}-${channel.channelCode}-${channel.codeDesc}</option>
                      #end
                  #end
                </select>
              </div>
            </div>
              <div class="layui-inline">
                  <div class="layui-input-inline">
                      <select name="status">
                          <option value="">全部状态</option>
                          <option value="0" #if(${requestInfo.status}==0) selected #end>未处理</option>
                          <option value="1" #if(${requestInfo.status}==1) selected #end>处理中</option>
                          <option value="2" #if(${requestInfo.status}==2) selected #end>成功,未返回</option>
                          <option value="5" #if(${requestInfo.status}==5) selected #end>成功,已返回</option>
                          <option value="10" #if(${requestInfo.status}==10) selected #end>交易成功</option>
                          <option value="99" #if(${requestInfo.status}==99) selected #end>交易失败</option>
                      </select>
                  </div>
              </div>
              <div class="layui-inline">
                  <div class="layui-input-inline">
                      <select name="type">
                          <option value="">订单类型</option>
                          <option value="0" #if(${requestInfo.type}==0) selected #end>支付订单</option>
                          <option value="1" #if(${requestInfo.type}==1) selected #end>退款订单</option>
                          <option value="2" #if(${requestInfo.type}==2) selected #end>取消支付</option>
                      </select>
                  </div>
              </div>
            <div class="layui-inline">
              <button type="submit" class="layui-btn"><span class="glyphicon glyphicon-search"></span> 搜索
              </button>
            </div>
          </div>
        </form>
      </div>
        <blockquote class="layui-elem-quote" style="font-size:14px;padding;8px;">成功交易总金额：<span class="label label-info">0元</span> 平台收入：<span class="label label-info">0元</span> 支付金额：<span class="label label-info">0元</span></blockquote>
        <!--交易列表-->
        <table class="layui-table" lay-data="{width:'100%',id:'userData'}">
          <thead>
          <tr>
            <th lay-data="{field:'key',width:60}"></th>
            <th lay-data="{field:'type', width:90}">订单类型</th>
            <th lay-data="{field:'outTradeId', width:240,style:'color:#060;'}">订单号</th>
            <th lay-data="{field:'mchId', width:90}">商户编号</th>
            <th lay-data="{field:'name', width:90}">商户名称</th>
            <th lay-data="{field:'amount', width:100,style:'color:#060;'}">交易金额</th>
            <th lay-data="{field:'fee', width:90}">手续费</th>
            <th lay-data="{field:'actualamount', width:100,style:'color:#C00;'}">实际金额</th>
            <th lay-data="{field:'applydate', width:160}">提交时间</th>
            <th lay-data="{field:'successdate', width:160}">成功时间</th>
            <th lay-data="{field:'zh_tongdao', width:120}">支付通道</th>
            <th lay-data="{field:'status', width:110}">状态</th>
          </tr>
          </thead>
          <tbody>
          #foreach($order in ${pageInfo.data})
            <tr>
            <td>${order.id}</td>
            <td>${order.typeDesc}</td>
            <td style="text-align:center; color:#090;">${order.outTradeNo}</td>
            <td style="text-align:center;">${order.mchId}</td>
            <td style="text-align:center;">${order.groupName}</td>
            <td style="text-align:center; color:#060">${order.amoun}</td>
            <td style="text-align:center; color:#666">${order.fee}</td>
            <td style="text-align:center; color:#C00">${order.actualAmount}</td>
            <td style="text-align:center;">$!date.format('yyyy-MM-dd HH:mm:ss ',${order.createTime})</td>
            <td style="text-align:center;">$!date.format('yyyy-MM-dd HH:mm:ss ',${order.successTime})</td>
            <td style="text-align:center;">${order.service}</td>
            <td style="text-align:center; color:#369"><span style="color:#f00">${order.statusDesc}</span></td>
            </tr>
          #end
          </tbody>
        </table>
        <div class="pagex">
            <div class="layui-box layui-laypage layui-laypage-default" id="layui-laypage-0">
                #if(${pageInfo.showPage.showHead})
                    <a class="num" href='#springUrl("/common/admin_order_index?currentPage=1&${urlParams}")'>首页</a>
                #end
                #foreach($page in ${pageInfo.showPage.pages})
                    #if($page.selected)
                        <span class="layui-laypage-curr current"><em class="layui-laypage-em"></em><em>$page.label</em></span>
                    #else
                        <a class="num" href='#springUrl("/common/admin_order_index?currentPage=${page.pageIndex}&${urlParams}")'>$page.label</a>
                    #end
                #end
                #if($pageInfo.hasNext)
                    <a class="num" href='#springUrl("/common/admin_order_index?currentPage=${pageInfo.nextPage}&${urlParams}")'>下一页</a>
                #end
                #if($pageInfo.showPage.showTail)
                    <a class="num" href='#springUrl("/common/admin_order_index?currentPage=${pageInfo.tailPage.pageIndex}&${urlParams}")'>${pageInfo.tailPage.label}</a>
                #end
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script src="#springUrl('/Public/Front/js/jquery.min.js')"></script>
<script src="#springUrl('/Public/Front/js/bootstrap.min.js')"></script>
<script src="#springUrl('/Public/Front/js/plugins/peity/jquery.peity.min.js')"></script>
<script src="#springUrl('/Public/Front/js/content.js')"></script>
<script src="#springUrl('/Public/Front/js/plugins/layui/layui.all.js')" charset="utf-8"></script>
<script src="#springUrl('/Public/Front/js/x-layui.js')" charset="utf-8"></script>
<script>
    layui.use(['laydate', 'laypage', 'layer', 'table', 'form'], function() {
        var laydate = layui.laydate //日期
            , laypage = layui.laypage //分页
            ,layer = layui.layer //弹层
            ,form = layui.form //表单
            , table = layui.table; //表格
        //日期时间范围
        laydate.render({
            elem: '#createtime'
            , type: 'datetime'
            ,theme: 'molv'
            , range: '|'
        });
        //日期时间范围
        laydate.render({
            elem: '#successtime'
            , type: 'datetime'
            ,theme: 'molv'
            , range: '|'
        });
    });
    /*订单-查看*/
    function order_view(title,url,w,h){
        x_admin_show(title,url,w,h);
    }
    $('#export').on('click',function(){
        window.location.href
            ="/Admin_Order_exportorder.html";
    });
</script>

</body></html>